on:
  push:
    branches:
      - main
    paths:
      - packages/api/**/*
      - docker/api.dockerfile
      - .github/**/*

jobs:
  heroku:
    runs-on: ubuntu-latest

    steps:
      - name: login to heroku
        uses: docker/login-action@v1
        with:
          registry: registry.heroku.com
          username: ${{ secrets.HEROKU_USERNAME }}
          password: ${{ secrets.HEROKU_PASSWORD }}

      - name: build and push
        uses: docker/build-push-action@v2
        with:
          file: docker/api.dockerfile
          tags: registry.heroku.com/in-meeting-light/web:latest
