on:
  push:
    branches:
      - main
    paths:
      - api/**/*
      - .github/**/*

jobs:
  heroku:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: login to heroku
        uses: docker/login-action@v1
        with:
          registry: registry.heroku.com
          username: ${{ secrets.HEROKU_USERNAME }}
          password: ${{ secrets.HEROKU_API_KEY }}

      - name: build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          file: api/Dockerfile
          tags: registry.heroku.com/in-meeting-light/web:latest

      - name: release
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:release web -a in-meeting-light
