on:
  push:
    branches:
      - main
    paths:
      - "packages/api/**"

jobs:
  heroku:
    runs-on: ubuntu-latest

    steps:
      - name: login to heroku
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.HEROKU_REGISTRY }}
          username: ${{ secrets.HEROKU_USERNAME }}
          password: ${{ secrets.HEROKU_PASSWORD }}

      - name: build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          registry: ${{ secrets.HEROKU_REGISTRY }}
          tags: in-meeting-light/web:latest
