on:
  push:
    branches:
      - main
    paths:
      - InMeetingLightMobile/**/*
      - .github/workflows/mobile.yaml
      - .github/workflows/release.yaml

jobs:
  heroku:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"

      - name: bump version and push tag
        uses: anothrNick/github-tag-action@1.26.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DEFAULT_BUMP: patch
