on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: InMeetingLightMobile

    steps:
      - uses: actions/checkout@v2

      - name: create release
        uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}

      - name: install dependencies
        run: yarn install --frozen-lockfile

      - name: restore release keystore
        run: |
          cd android
          echo "${{ secrets.RELEASE_KEYSTORE }}" > release.keystore.asc
          echo "${{ secrets.RELEASE_GRADLE_PROPERTIES }}" >> gradle.properties
          gpg -d --passphrase "${{ secrets.RELEASE_KEYSTORE_PASSPHRASE }}" --batch release.keystore.asc > app/release.keystore

      - name: build android release
        run: cd android && ./gradlew assembleRelease

      - name: publish artifacts
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./android/app/build/outputs/apk/release/app-release.apk
          asset_name: in-meeting-light.apk
          asset_content_type: application/vnd.android.package-archive
